body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }

}



header.masthead {
    background: url('../img/back.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead > .overlay {
    padding-bottom: 35px;
    padding-top: 35px;
    /*!*text-align: center;*!*/
  background: rgba(39, 48, 66, 0.89);
}

@media (min-width: 992px) {
    /*header.masthead > .overlay {*/
        /*padding: 0rem 0;*/
    /*}*/
}

.bg-dark {
    background-color: #273042!important;
}
.overlay {
    padding: 0rem 0;
}

.display-4 {
    font-size: 33px;
    color: #eaecec;
    font-weight: 300;
    line-height: 1.1;
}

.padd-top{
    margin-top: 25px;
    box-sizing: inherit;
}


.icon {
    color: white;
    z-index: 9;
}

.ion-chevron-down{
    color: #909090;
    font-size: 10px;
}



.fa-setting {
    color: transparent;
    border: white groove 1px ;
}

.img-fluid-nav {
    max-width: 100%;
    height: 30px;
}

.img-fluid-head {
    max-width: 100%;
    height: 138px;
}
.img-fluid-food{
    border-radius: 4px;
    width: 100%;
}

.info-rat{
    padding-bottom: 10px;
    padding-top: 10px;
}

.btn{
    padding: 0.2rem 1.5rem;
    border-radius: 2rem;
}
.rounded-circle{
    border: solid white 1.5px;
}
.navbar{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}



@media (min-width: 992px){
    .container {
        max-width: 100%;
    }
}

.collapse{
    padding-left: 50px;
}

.padd-left{
    padding-left: 0px;
}
.padd-all{
    padding: 0px;
}
.butt-float-right{
    float: right;

}

/* ------------- map ---------------*/

#map {
    width: 100%;
    height: 100%;
    background-color: grey;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #888888;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 76%;
    border-radius: 36px;
    height: 37px;
    margin-top: 20px;
    border: none;
    box-shadow: 1px 1px  8px  #888888;
}

input:focus{
    outline: none;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint {
    box-shadow: 1px 1px  8px  #888888;
}

/* ------------- fin map ---------------*/


.ion-ios-arrow-right{
    font-size: 60px;
}

.ion-ios-arrow-left{
    font-size: 60px;
}

.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}



div.box1 > img {
    position: relative;
    z-index: 1;
}
div.box1 >a {
    display: none;
    position: absolute;
    top: 0px;
    right: 18px;
    margin: 10px 0 0 10px;
    z-index:3;
    text-decoration: none;
}
div.box1:hover a {
    display:block;
}

.ion-ios-heart-outline{
    font-size: 35px;
}

div.box1:before{
    content:'';
    background: #000;
    position:absolute;
    left: 0;
    top: 0;
    bottom:0;
    right:0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition:0.4s;
    opacity:0;
}
div.box1:hover:before{
    opacity:0.75;
}
.h5, h5 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0px;
}

.h6, h6 {
    font-size: 10px;
}
.card-title {
    margin-bottom: 5px;
}

@font-face {
    font-family: follow;
    src: url(../fonts/follow.woff2);
}

@font-face {
    font-family: title;
    src: url(../fonts/croissantone-regular.ttf);
}

@font-face {
    font-family: triomphe;
    src: url(../fonts/triomphe-light-autoinstr.ttf);
}


.sous-titre {
    font-family: triomphe;
    font-size: 13px;
    color: #d0caca;
    margin-top: 10px;
    font-weight: normal;
}

.sous-titre-follow {
    font-family: follow;
    font-size: 10px;
    color: #d0caca;
    font-weight: normal;
}



.padd-right{
    padding-right: 0px;
}



.second-menu{
    font-size:13px;
    color: white !important;

}
.active-tab{
    border-bottom: solid 2px #dc3545 ;
    color: #dc3545 !important;
}
.padd-butt{
    padding-right: 4px;
}
.dropdown-menu{
    color: white;
    background-color: #273042;
    border: none;
  margin: -4px;
}


.dropdown-item{
color: #e8e8e8;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
}
.dropdown-item.active, .dropdown-item:active{

background-color: #dc3545 ;
}

.dropdown-item.active, .dropdown-item:hover{

background-color: #dc3545 ;
}

.height-map{
    height: 100%;
    min-height: 400px;
}
.sett-style{
    border: groove 1px white;
    padding-right: 6px;
    padding-left: 6px
}

@media (min-width: 728px) {
.nav-browse{
padding-left: 40px;
}
.mobile-menu{
display: none;
}

.brand-mob{
font-family: title;
}
.center-hor{
display: flex;
flex-direction: inherit;
align-items: center;
}
}


@media (max-width: 728px) {

.brand-mob{
padding-left: 10px;
font-family: title;
}

.center-hor{
display: block;
flex-direction: inherit;
align-items: center;
text-align: center;

}

.butt-float-right{
text-align: center;
margin-top: 20px;
float: none;
}
header.masthead > .overlay{
padding-top: 0px;
}



}